<h1>Product Info: <%= @product.name %></h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
		</tr>
	</thead>

	<tbody>
			<tr>
			<td><%= @product.id %></td>
			<td><%= @product.name %></td>
			<td><%= number_to_currency(product.price) %></td>
			<td><%= @product.category %></td></tr>
	</tbody>
</table>